.BlogSummaryContainer {
    width: 320px;
    height: 550px;
    background-color: rgba(255, 255, 255, 0.966);
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 30px;
    border: 1px solid rgb(214, 214, 214);
}

.BlogSummaryContainer h5[id='containerHeader']{
    margin-top: 0;
    font-size: 1.1em;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 0px;
}

.BlogSummaryContainer p[id='containerFooter']{
    margin-top: 0;
    font-size: 1.1em;
    padding-left: 15px;
    margin-bottom: 0px;
}

.BlogSummary {
    width: 300px;
    height: 140px;
    background-color: rgba(255, 255, 255, 0.966);
    border-radius: 5px;
    margin-left: -30px;
    margin-top: 10px;
    border: 1px solid rgb(214, 214, 214);
}

.BlogSummary h5 {
    margin-top: 0;
    font-size: 1.1em;
    padding-top: 10px;
    padding-left: 25px;
    margin-bottom: 10px;
    
}

.BlogSummary p {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.BlogSummary hr{
    margin-top: 30px;
    margin-bottom: 0;
}

.BlogSummary [type='footer']{
    font-size: 12px;
    color: rgb(82, 82, 82);
    background-color: rgba(29, 29, 29, 0.055);
    padding-top: 2px;
    padding-bottom:0;
    margin-bottom: 0;
}

.BlogDetails {
    width: 80%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.959);
    border-radius: 1px;
    margin: auto;
    margin-top: 30px;
    
}

.BlogDetails h5 {
    margin-top: 0;
    font-size: 1.5em;
    padding-top: 10px;
    padding-left: 25px;
    margin-bottom: 10px;
    
}

.BlogDetails p {
    text-align: left;
    height: 100%;
 
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.BlogDetails hr{
    margin-top: 480px;
    margin-bottom: 0;
}

.BlogDetailsFooter {
    font-size: 12px;
    color: rgb(73, 73, 73);
    padding-top: 2px;
    background-color: rgba(150, 150, 150, 0.137);
}

.BlogList ul{
    list-style: none;
}

.BlogList a{
    text-decoration: none;
    color: black;
    
}
.BlogList a hr{
    text-decoration: none;
    color: rgb(228, 226, 226);
    
    
}

.Notifications {
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.966);
    border-radius: 5px;
    margin-right: 70px;
    float: right;
    border: 1px solid rgb(214, 214, 214);
}

.Notifications h5 {
    margin-top: 0;
    font-size: 1.1em;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
    
}

.Notifications ul{
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
    text-overflow: ellipsis; 
}

.Notifications li span{
    font-size: 12px;
    color: rgb(71, 71, 71);
}

.Notifications li span[id='user']{
    font-weight: 700;
    font-size: 14px;
    color: rgb(59, 59, 59);
}

.FilesContainer{
<<<<<<< HEAD
    width: 79.5%;
    height: 280px;
    overflow-x: scroll;
    position: absolute;
}
.FilesContainer ul{
    list-style: none;
    padding: 0;
    display: flex;
    position: absolute;
    
    
}

.File{
    flex: 1;
    border: 1px solid rgb(214, 214, 214);
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 10px;
    background-size: contain;
    text-overflow: clip;
}

.File p{
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    color: rgb(51, 51, 51);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.File img{
    width: 100%;
    height: 160px;
=======
    width: 100%;
    height: 200px;
    border: 3px red solid;
    
}
.FilesContainer ul{
    list-style: none;
    
}
.FilesContainer img{
    width: 100%;
    height: auto;
}
.File{
    width: 200px;
    height: 300px;    
>>>>>>> a4d3136cc4863e0dedf1e6ec5f831b9c5cda83a3
}
